/*ウェブフォントを使用する場合はここに定義を追加して下さい*/
   
@font-face {
	font-family:"JKG-M_3";
	src:url("../../data/others/JKG-M_3.ttf") format("truetype");
	/*url("../../data/others/Mf_Break_The_Rules.woff") format("woff"),
	url("../../data/others/Mf_Break_The_Rules.ttf") format("truetype"),
	url("../../data/others/Mf_Break_The_Rules.svg#MfBreakTheRules") format("svg");*/
	font-weight:normal;font-style:normal;
}